@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;  
  font-optical-sizing: auto;
}



:root{
  --background:#FFFFFF;
  --texto:#000;
  --v1:#008000;
  --v2: #7CB342;
  --v3:#558B2F;
  --v4:#33691E;
  --v5:#333;
  --verde-claro:#90ee90;
  --ativo:#0000FF;
  --cinza:#d3d3d3;
  --guia: #60BB49;
  --titulo: #456A29;
}

body{
  width: 1440px;
  height: 1080px;
}


body.escurecer::before{
  content: "";
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 26, 0.5);
  top: 0;
  left: 0;

}

header {
  background-color: var(--background);
  padding: 20px 40px;
  z-index: 999;
}

header .titulo{
  color: var(--background);
  font-size: 40px;
}

header nav .text{
  color: var(--background);
  text-decoration: none;
  padding: 5px;
  font-size: 30px;
}

header nav{
  position: fixed;
  background: var(--guia);
  right: -20rem;
  top: 0;
  border-radius: 50px;
  height: 90vh;
  width: 20rem;
  z-index: 999;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 1.5rem;
  transition: 0.7s;
}

header nav.abrir{
  right: 0;
}

header .x{
  border: none;
  background: none;
}
header {
  background-color: var(--v2);
  padding: 5px;
}
  
.dados {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.guia {
  border: none!important;
  background: var(--v2);
}

  
a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
  
.dados ul {
  display: flex;
  list-style: none; 
}
  
.dados li {
  margin: 0 15px;
}
  
.dados a {
  text-decoration: none;
  color: var(--v5);
  color: var(--background);
  font-size: 1.2rem;
}
  
.dados .ativo{
  color: var(--ativo);
}


.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif; 
  font-weight: 400;
  font-style: normal;
  padding: 50px;
  font-size: 40px;
  color: var(--titulo);
}


.carousel-container {
  width: 100%;
  max-width: 1440px; 
  height: 400px;     
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 60%;
}

.carousel-images img {
  width: 257px;   
  height: 241px; 
  object-fit: cover; 
  margin: 0 50px; 
}

.seta-esquerda, .seta-direitra {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.seta-esquerda {
  left: 20px; 
}

.seta-direitra {
  right: 20px; 
}


.textos {
  background-color: var(--background);
  padding: 50px 50px;
  display: flex;
  justify-content: end;
  text-align: center;
  background: var(--v4);
}

.l1,.l2,.l3{
  background: var(--background);
  border-radius: 25px;
  width: 150px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.t1{
  background: var(--background);
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}

.textos ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.textos li {
  margin: 0 100px;

}

.container {
  display: flex;
  justify-content: baseline ;
  align-items: center;

}


.icon, .phone, .email {
  margin: 0 5px;
}

