*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-optical-sizing: auto;
}


:root{
  --background:#FFFFFF;
  --texto:#000;
  --v1:#008000;
  --v2: #7CB342;
  --v3:#558B2F;
  --v4:#33691E;
  --v5:#333;
  --verde-claro:#90ee90;
  --ativo:#0000FF;
  --cinza:#d3d3d3;
}



header {
  background-color: var(--v2);
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guia{
  border:none!important;
  background: var(--v2);
}

a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style: none; 
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: var(--background);
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 25px;
  color: var(--v3);
}

.receitas {
  display: flex;
  padding: 20px;
}

.receita {
  flex: 0 0 auto;
  width: 200px;
  text-align: center;
  margin: 0 10px;

}

.receita img {
  width: 100%;
  height: 100%;
}


.seta2  , .seta1 {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
}

.seta1 {
  left: 20px;
  transform: rotate(360deg);
}

.seta2 {
  right: 20px;
  transform: rotate(180deg);
}


.textos {
  margin: 25px;
  background-color: var(--background);
  padding: 50px 50px;
  display: flex;
  justify-content: end;
  text-align: center;
}

.textos ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.textos li {
  margin: 0 10px;
}

.container {
  display: flex;
  justify-content: baseline ;
  align-items: center;
}


.icon, .phone, .email {
  margin: 0 5px;
}

.icon {
  font-size: 24px; 
}