*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #7CB342;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 100px;
}

.li-cor{
    color: black;
}

.seta {

    display: flex;
    justify-content: baseline;
    margin: 20px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.section {
    background-color: #558B2F;
    display: flex;
    padding: 20px;
    width: 90%;
    height: 90%;
    border-radius: 50px;
}

.container {
    flex: 3;
    margin-right: 20px;
}

.container h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 55px;
}

.subtitulo{
    color: white;
    padding: 5px;
    font-size: 25px;
}

.resposta p {
    color: white;
    padding: 20px;
    font-size: 25px;

}


.interogacao {
    flex: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


