*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-optical-sizing: auto;
  }
  
  
  :root{
    --background:#FFFFFF;
    --texto:#000;
    --v1:#008000;
    --v2: #7CB342;
    --v3:#558B2F;
    --v4:#33691E;
    --v5:#333;
    --verde-claro:#90ee90;
    --ativo:#0000FF;
    --cinza:#d3d3d3;
  }
  
  
  
  header {
    background-color: var(--v2);
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .guia{
    border:none!important;
    background: var(--v2);
  }
  
  a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none; 
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    text-decoration: none;
    color: var(--background);
  }

  .ativo{
    color: var(--ativo);
}
  
  
  
  .seta {
    display: flex;
    justify-content: baseline;
    margin: 10px 25px;
}


.container {
  max-width: 1000 px;
  margin: 0 auto;
  padding: 20px;
  background: var(--v4);
  border-radius: 20px;
}

h1 {
  text-align: center;
  color: var(--background);
  font-size: 70px;
}

.camada2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredients {
  background-color: var(--v4);
  padding: 20px;
  border-radius: 5px;
  color: var(--background);
}

.textos{
  background: var(--v3);
  border-radius: 5px;
}

ol {
  padding-left: 20px;
}

.usando{
  list-style-type: none;
}

.descricao{
  background: var(--v3);
  border-radius: 10px;
  margin: 20px;
  font-size: 20px;
  color: var(--background);
}

.espaco{
  padding: 0 40px;
}