* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: var(--background);
    width: 1440px;
    height: 8220px;
}

:root {
    --background: #FFFFFF;
    --texto: #000;
    --v1: #008000;
    --v2: #7CB342;
    --v3: #558B2F;
    --v4: #33691E;
    --v5: #333;
    --verde-claro: #90ee90;
    --ativo: #0000FF;
    --cinza: #d3d3d3;
}


header {
    background-color: var(--v2);
    padding: 5px;
}
    
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.guia{
    border:none!important;
    background: var(--v2);
}
    
a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
    
nav ul {
    display: flex;
    list-style: none; 
}
    
nav li {
    margin: 0 15px;
}
    
nav a {
    text-decoration: none;
    color: var(--v5);
    color: var(--background);
}
    
    
.ativo{
    color: var(--ativo);
}
  

.section {
    background-color: var(--v3);
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
}


.container h2 {
    color: var(--background);
    padding: 5px;
}

.faq {
    margin-bottom: 20px;
}

.faq p {
    color: var(--background);
    margin: 0;
}

.interogacao {
    flex: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--v4);
    border-radius: 10px;
    padding: 20px;
}

.interogacao button {
    background-color: var(--verde-claro);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
}

.img-interogacao {
    font-size: 150px;
    color: var(--texto);
    font-weight: bold;
}

.pergunta, p{
    font-weight: bold;
    padding: 10px;
}
