body {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #7CB342;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 100px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.section {
    background-color: #558B2F;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    flex: 3;
    margin-right: 20px;
}

.container h2 {
    color: white;
}

.faq {
    margin-bottom: 20px;
}

.faq p {
    color: white;
    margin: 0;
}

.interogacao {
    flex: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #33691E;
    border-radius: 10px;
    padding: 20px;
}

.interogacao button {
    background-color: #A5D6A7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
}

.img-interogacao {
    font-size: 150px;
    color: black;
    font-weight: bold;
}

.pergunta{
    font-weight: bold;
}