body {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}


:root{
    --background:#FFFFFF;
    --texto:#000;
    --v1:#008000;
    --v2: #7CB342;
    --v3:#558B2F;
    --v4:#33691E;
    --verde-claro:#90ee90;
    --ativo:#0000FF;
    --cinza:#d3d3d3;
}
    

header {
    background-color: var(--v2);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 100px;
}

.texto1{
    padding: 15px;
}

.ativo{
    color: var(--ativo);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.section {
    background-color: var(--v3);
    border-radius: 10px;
    display: flex;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    flex: 3;
    margin-right: 20px;
}

.container h2 {
    color: var(--background);
}

.faq {
    margin-bottom: 20px;
}

.faq p {
    color: var(--background);
    margin: 0;
}

.interogacao {
    flex: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--v4);
    border-radius: 10px;
    padding: 20px;
}

.interogacao button {
    background-color: var(--verde-claro);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
}

.img-interogacao {
    font-size: 150px;
    color: var(--texto);
    font-weight: bold;
}

.pergunta{
    font-weight: bold;
}