body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9e8d6;
}

header {
    background-color: #6fa24a;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;  
}

nav ul li a.ativo {
    color: blue;
    font-weight: bold;
}

.faq-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
    margin-right: 600px;
    margin-right: 0;    
}

.faq-informacao {
    background-color: #7ba56d;
    border: 2px solid #445c38;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.faq-informacao h2 {
    color: white;
}

.faq {
    margin-bottom: 20px;
}

.faq h3 {
    color: white;
    margin: 0;
}

.faq p {
    color: #e2e2e2;
    margin: 0;
}


.atras{
    background: #445c38;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.img-interogacao{
    display: flex;
    justify-content: center;
    align-items: center;
}