*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-optical-sizing: auto;
}

  
:root{
    --background:#FFFFFF;
    --texto:#000;
    --v1:#008000;
    --v2: #7CB342;
    --v3:#558B2F;
    --v4:#33691E;
    --v5:#333;
    --verde-claro:#90ee90;
    --ativo:#0000FF;
    --cinza:#d3d3d3;
}
  
body{
  background-image: url('../imagens/contatofund.png');
  background-repeat: repeat-y;
}
  
header {
    background-color: var(--background);
    padding: 20px;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .guia{
    border:none!important;
    background: var(--background);
  }
  
  a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none; 
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    text-decoration: none;
    color: var(--v5);
}

.ativo{
    color: var(--ativo);
} 

.barra {
  height: 1px;
  display: flex;
  align-items: baseline;
  margin: 0 25px; 
  background-color: var(--v2); 
}

.container {
    text-align: center;
    background: var(--v4);
    border-radius: 55px;
    color: var(--texto);
    margin: 100px;
    padding: 25px;
    
}
  
.top-section {
    display: flex;
    justify-content: space-around;
}

.descricao{
    margin: 10px;
    padding: 5px;
    color: var(--texto);
    background: var(--v3);
    border-radius: 55px;
    display: flex;
    justify-content: space-around;
}

.insta{
  display: flex;
  justify-content: center;
  align-items: center;
}