*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-optical-sizing: auto;
}

body {
    background: var(--fundo);
}



:root{
    --background:#FFFFFF;
    --texto:#000;
    --v1:#008000;
    --v2: #7CB342;
    --v3:#558B2F;
    --v4:#33691E;
    --v5:#333;
    --verde-claro:#90ee90;
    --ativo:#0000FF;
    --cinza:#d3d3d3;
    --fundo:#76B666;
    --fundo2:#456B29;
  }
  

header {
    background-color: var(--background);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 100px;
}

.texto1{
    padding: 15px;
}

.ativo{
    color: var(--ativo);
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 100px;
}

.barra {
    height: 1px;
    display: flex;
    align-items: baseline;
    margin: 0 25px; 
    background-color: var(--v2); 
}

.container {
    background-color: var(--fundo2); 
    color: #fff;
    text-align: center;
    padding: 100px;
    border-radius: 100px;
    margin: 100px;
    max-width: 1000px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

button {
    background-color: var(--fundo);
    color: var(--background);
    padding: 15px 32px;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}