*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.guia{
    border: none;
    background: none;
}       

.nav1{
    position: fixed;
}


.triangle {
    width: 0;
    height: 0;
    border-left: 271px solid transparent;
    border-right: 271px solid transparent;
    border-bottom: 399.1px solid #ff0000;
}

div{
    display: inline-block;
    margin: 50px;
}






.pyramid {
    width: 200px;
    height: 300px;
    position: relative;
    background-color: #f2f2f2; /* Cor de fundo da pirâmide */
}

.level {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; /* Inclui padding no cálculo da largura */
}

.level-1 {
    bottom: 0;
    background-color: #e0e0e0;
}

.level-2 {
    bottom: 100px;
    background-color: #d0d0d0;
}

.level-3 {
    bottom: 200px;
    background-color: #c0c0c0;
}

.level-4 {
    bottom: 300px;
    background-color: #b0b0b0;
}