*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.guia{
    border: none;
    background: none;
}       

.nav1{
    position: fixed;
}


.triangle {
    width: 0;
    height: 0;
    border-left: 271px solid transparent;
    border-right: 271px solid transparent;
    border-bottom: 399.1px solid #ff0000;
}

div{
    display: inline-block;
    margin: 50px;
}


.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 50px auto;
}
.triangulo {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}
.base {
    border-width: 0 150px 200px 150px;
    border-color: transparent transparent #4CAF50 transparent; /* Verde */
    bottom: 0;
    left: 0;
}
.part1 {
    border-width: 0 120px 160px 120px;
    border-color: transparent transparent #FF9800 transparent; /* Laranja */
    bottom: 40px;
    left: 30px;
}
.part2 {
    border-width: 0 90px 120px 90px;
    border-color: transparent transparent #F44336 transparent; /* Vermelho */
    bottom: 80px;
    left: 60px;
}
.part3 {
    border-width: 0 60px 80px 60px;
    background-image: url("../imagens/carboidrato.png");
    border-color: transparent transparent transparent; 
    bottom: 120px;
    left: 90px;
}

