* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-optical-sizing: auto;
}

:root {
  --background: #FFFFFF;
  --texto: #000;
  --v1: #008000;
  --v2: #7CB342;
  --v3: #558B2F;
  --v4: #33691E;
  --v5: #333;
  --verde-claro: #90ee90;
  --ativo: #0000FF;
  --cinza: #d3d3d3;
}

body{
  width: 1920px;
  height: 1080px;
}

body.escurecer::before{
  content: "";
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 26, 0.5);
  top: 0;
  left: 0;

}

header {
  background-color: var(--background);
  padding: 20px 40px;
  z-index: 999;
}

header .titulo{
  color: var(--background);
  font-size: 40px;
}

header nav .text{
  color: var(--background);
  text-decoration: none;
  padding: 5px;
  font-size: 30px;
}

header nav{
  position: fixed;
  background: var(--v1);
  right: -20rem;
  top: 0;
  border-radius: 50px;
  height: 90vh;
  width: 20rem;
  z-index: 999;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 1.5rem;
  transition: 0.7s;
}

header nav.abrir{
  right: 0;
}

header .x{
  border: none;
  background: none;
}

header {
    background-color: var(--v2);
    padding: 5px;
}
  

header {
  background-color: var(--v2);
  padding: 10px;
}

.dados {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guia {
  border: none !important;
  background: var(--v2);
}

a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--background);
  text-decoration: none;
}

.dados ul {
  display: flex;
  list-style: none;
}

.dados li {
  margin: 0 15px;
}

.ativo{
  color: var(--ativo);
}

.seta {
  display: flex;
  justify-content: baseline;
  margin: 15px 25px;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.section {
  background-color: var(--v4);
  display: flex;
  padding: 20px;
  width: 99%;
  height: 100%;
  border-radius: 50px;
}

.container {
  flex: 3;
  margin-right: 20px;
}

.container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
}

.subtitulo{
  color: white;
  padding: 5px;
  font-size: 25px;
}

.resposta p {
  color: white;
  padding: 20px;
  font-size: 25px;

}


.img {
  flex: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.saiba{
  margin: 10px;
  border-radius: 25px;    
  width: 250px;
  height: 60px;
  background: var(--v3);
  color: white;
}



button {
  justify-content: center;
  display: flex;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
  margin: 10px;
}